div {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgb(228, 219, 219);
}
button {
  font: 17px Arial;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  outline: 0;
}
body {
  background: #f4ecd7;
  font: 25px Arial;
}

h1 {
  font: 25px Arial;
  font-weight: bold;
}

ul {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.className {
  /* border: 0px solid goldenrod; */
}